<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script>
      function validateForm() {
        let x = document.forms["myForm"]["book"].value;
        if (x == "") {
          alert("Search must be filled out");
          return false;
        }
      }
    </script>
  </head>
  <body>
    <form class="tab-view tab-view-height-auto" action="/user" method="post" >
      <% users.forEach(function(user) { %>
        <input type="submit" name="user" value="<%= user.user_id %>" id="<%= user.user_id %>">
        <label for="<%= user.user_id %>" style="background-color: <%= user.color %>;">
          <%= user.username %>
        </label>
        <% }); %>
  
          <input type="submit" name="add" value="new" id="tab">
          <label for="tab">Add Family Member</label>
  
    </form>
    <form action="/search" name ="myForm" method="post" onsubmit="return validateForm()">
      <input
        type="text"
        name="book"
        autofocus
        placeholder="<%= locals.error ? error :  'Search Book Name'%>"
      />
      <button type="submit" style="background-color: blue">Search</button>
    </form>
    <div>
        <a as="button" href="/library" >view library</a>
    </div>
    <div>
      <a as="button" href="/reading-list-view" >view reading list</a>
  </div>
    <section>
      <div class="book-list">
        <% books.forEach(book => { %>
        <div class="book-item">
          <img
            src="https://covers.openlibrary.org/b/id/<%= book?.cover_i %>-M.jpg"
            alt="<%= book?.title %>"
            width="150"
            height="200"
          />
          <h3><%= book?.title %></h3>
          by: <% book?.author_name?.forEach(author=>{ %>
          <p> <%= author %></p>
          <% }); %>
          <form action="/add" method="post">
            <input type="text" name="book" value="<%= book?.title %>" style="display: none;">
            <button type="submit">Add to List</button>
          </form>
        </div>
        <% }); %>
      </div>
    </section>
    
  </body>
</html>

